beautifulsoup4
boto3
Cython
dill
flake8
flake8-isort
IPython>=5.0,<6.0; python_version < '3.0'
IPython>=5.0; python_version >= '3.0'
mini-amf
mmh3
multiprocess
numpy>=1.14
pandas
pillow
plyvel
psutil
publicsuffix
pyarrow
pyasn1
PyOPenSSL
pytest
python-dateutil
pyvirtualdisplay
s3fs
setuptools
six
tabulate
tblib
tld


# NOTE: This requirements.txt is legacy.
# The modern installation path uses environment.yaml (conda) which pins:
#   selenium=4.43.0, geckodriver=0.36.0, python>=3.12
# Do not use this file for new environments. It is kept only for historical reference.
